<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales statictics</title>
    <link rel="stylesheet" href="../../css/core.css">
    <script defer src="js/script.js"></script>
</head>

<body class="bg-light-gray">

    <div class="container">
        <header>
            <h1>Sales statistics</h1>
        </header>

        <div class="grid">
            <div class="m-half">
                <div class="controls">
                    {%menu_items%}
                </div>
            </div>

            <div class="m-half">
                <div id="result"></div>
            </div>
        </div>
    </div>

</body>

</html>